<!DOCTYPE html>
<html>
    <head>
        <title>CdiOneView Localization Translator</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel='stylesheet' href='/static/style.css'>
    </head>

    <body>
        <nav id="navbar-example2" class="navbar navbar-light bg-transparent px-3">
            <a class="navbar-brand" href="/">Home</a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link" href="/">Language Translator</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/basicversion">Basic Version</a>
                </li>
            </ul>
        </nav>


        <div class='content'>
            <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-offset="0" class="scrollspy-example" tabindex="0">
                <h4>Welcome to CdiOneView Language Translator: Basic Version</h4>
            
                <div class='instructions'>
                <!-- prompting the user to rate actual movie titles- passing python variables to HTML via Jinja tags
                    <p>Enter your Text and Select the Language you want the Translation</p>-->
                </div><br/>
                <form action="/translate" method="POST">
                    <div class="row">
                        <div class="col">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 150px" name='text'></textarea>
                                <label for="floatingTextarea2">Enter your text here:</label>
                            </div>
                        </div>
                    </div><br/>
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="target_language">Select Target Language:</label>
                                <select name="target_language" id="target_language" class="form-control">
                                    <option selected>Select...</option>
                                    <option value="da">Danish</option>
                                    <option value="de">German</option>
                                    <option value="es">Spanish</option>
                                    <option value="fr">French</option>
                                    <option value="it">Italian</option>
                                    <option value="ja">Japanese</option>
                                    <option value="nl">Dutch</option>
                                    <option value="sv">Swedish</option>
                                </select>
                            </div>
                        </div>
                    </div><br/>
            <button type="submit" class="btn btn-success">Translate</button>
            </form>    
        </div>
            
        
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
    <footer class="bg-transparent text-center text-lg-start">
        <!-- Copyright -->
    </footer>
</html>